<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Movie App</title>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>

    <div id="root"></div>
    <script type="text/babel">

      var Movie = React.createClass({
          render: function () {
              return (
                  <div>
                    <h1>{this.prop.heading}</h1>
                    <h2>
                      {this.prop.content}
                    </h2>

                  </div>
              );
          }
      });
      ReactDOM.render(
        <div>
          <Movie heading="ABC" content="DEF"/>
        </div>,
        document.getElementById('root')
      );

    </script>
  </body>
</html>
